{% extends "ControlApp/base.html" %}

{% block content %}
<div>
    <h1>Редактирование поста</h1>
    <form action="{% url 'ControlApp:edit_post' post.id %}" method="post">
    {% csrf_token %}
    <div>
        <label for="{{ form.title.id_for_label}}">Заголовок:</label>
        {{ form.title}}
    </div>
    <div>
        <label for="{{ form.content.id_for_label}}">Содержание:</label>
        {{ form.content }}
        <button name="submit">Сохранить изминения</button>
    </div>
    </form>
</div>
{% endblock content %}